* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a{
 text-decoration: none;
}

.contenedor{
  margin: 0 auto;
  overflow:hidden;
  width:100%;
}

                                          /* HEADER */
header:before{
  content: "";
  height: 15px;
  width: 100%;
  display: block;
  background: linear-gradient(to right, #a02382 0%,#e62328 17%,#e62328 17%,#e62328 39%,#f58723 61%,#ffd205 84%,#ffd205 100%);
}

header{
  height:90px;
  background:#ffda00;
 }     

.nav{
  display: flex;
  justify-content: space-between;
}

.header__logo{
  display: inline-block;
  margin: 10px 20px;
  width: 50px;  
}

.header__social{
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.header__social-a{
  text-decoration: none;
  color: #000;
}

.header__social-li{
  margin: 0 10px;
  line-height: 80px;
  width: max-content;
}

.header__social-a:hover{
 color: #4B4B4B;
}

.menu__button{
  background: none;
  border: none;
  font-size:20px;
  padding: 0 20px;
  line-height: 50px;
  display: none;
}

.menu__button a{
  color: #000;
}

.menu__button a:active{
  color: #680E99;
}


                                           /* SECTION */
section{
  height:1200px;
}
   /* SUMATE */

.sumate:before{
  content: "";
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0,.2);
  position: absolute;
}

.sumate{
  width:100%;
  height: 600px;
  background: url(..//img/plaza.jpg);
  background-position: -40px 0px;
  background-size: cover;
  display: inline-block;
}


.sumate__p{
  display: block;
  width: 50%;
  min-width: 800px;
  font-size:58px;
  margin:190px 50px 0px;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  text-shadow: 5px 5px 8px #000;
}

.sumate__button{
  display:inline-block;
  background: #fff;
  color:#000;
  padding:15px 40px;
  font-size:25px;
  border-radius: 30px;
  position: relative;
  margin: 32px 50px;
}

.sumate__button:hover{
  background:#ffda00;
  transition: .5s;
}

.sumate__button:active{
  background:#D4A811;
}

      /* NOSOTROS */
.nosotros:before{
  content: "";
  width: 100%;
  height: 650px;
  background: rgba(56, 18, 199,.8);
  position: absolute;
}

.nosotros{
  width: 100%;
  height: 600px;
  background: url(..//img/ColoniaElisa.jpg);
  background-size:cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.nosotros__h1{
  z-index:1;
  font-size: 48px;
  margin-top: 70px;
  width: 70%;
  font-weight: bold;
}

.nosotros__p{
 z-index:1;
 font-size: 25px;
 width: 60%;
 margin-top: 60px;
 line-height: 30px;
}

.nosotros__button{
  display: inline-block;
  width:150px; 
  z-index:1;
  font-size: 21px;
  line-height: 25px;
  border-radius: 50px;
  border:2px solid #fff;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  margin-top:100px;
}

.nosotros__button:hover{
  opacity: 0.6;
}


                                          /* FOOTER */
footer{
 width: 100%;
 height: 500px;
 background:rgb(42,42,42);
 text-align: center;
 align-items: center;
 padding-bottom: 50px;
 display: flex;
 flex-direction: column;
 position: relative;
}

footer a{
  color:#fff;
}

footer a:hover{
  color: #585858;
  border-color: #585858;
}


.logo__footer{
  margin-top:50px;
}

.informacion-a{
  border:1px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 125%;
}

.footer__social{
   margin-top: 50px;
}

.footer__social-a{
  padding:0px 15px;
  font-size:30px;
}

.coppy__p{
 margin-top: 40px;
 color: #fff;
}
