@media screen and (max-width: 768px){

header:before{
  content: "";
  height: 12px;
  width: 100%;
  display: block;
  background: linear-gradient(to right, #a02382 0%,#e62328 17%,#e62328 17%,#e62328 39%,#f58723 61%,#ffd205 84%,#ffd205 100%);
}

header{
  height:60px;
 }     

.menu__button{

}

.menu__button a{

}

.header__logo{
  margin: 5px 20px;
  width: 35px;  
}

.header__social{
  z-index: 10;
  flex-direction: column;
  background:#ffda00;
  width:250px;
  margin: 0;
}

.header__social-li{
  line-height: 50px;
}

.header__social-a i{
  flex-direction: ;
}

.sumate__p{
  width: 100%;
  margin:215px 12px 0px;
  font-size: 40px;
  max-width: 600px;
  min-width: 0;
}

.sumate__button{
  margin: 30px 12px;
  font-size:18px;
  padding: 12px 35px;
}

.nosotros__p{
 z-index:1;
 font-size: 125%;
 width: 80%;
 margin-top: 50px;
 line-height: 125%;
}

.nosotros__a{
  width:150px; 
  z-index:1;
  font-size: 125%;
  border-radius: 50px;
  border:1px solid #fff;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  margin-top: 50px;
}

}